.loader {
  width: calc(100px - 24px);
  height: 50px;
  margin: 0 auto;
  animation: flippx 2s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background: black;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {
  0%, 49% {
    transform: scaleX(1);
  }
  50%, 100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
      .hidden {
  display: none !important;
}
.gallery{
  align-self: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap:5px;
  padding: 0;
}
img{
  width: 360px;
  height:220px;
}
